body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0px;
}

header {
  margin: 0px;
  color: white;
  padding: 20px 20px 20px 20px;
  background-color: rgba(85, 107, 47, 0.484);
  /* border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; */
  position: fixed;
  width: 100%;
}

.header-flex {
  display: flex;
  flex-direction: column;
  align-items: left;
}

.header-flex h2 {
  margin-top: 0;
  margin-bottom: 0px;
  margin-left: 8vw;
}

#aside1 {
  display: none;
}

nav {
  margin: 20vh 1vw 0 0; /*top, right, bottom, left*/
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
  border-bottom: solid 5px rgba(85, 107, 47, 0.537);
  width: fit-content;
  margin-left: auto;
  font-size: large;
}

nav a {
  color: white;
  display: inline-block;
  text-decoration: none;
  padding: 10px;
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  transition: transform 0.3s;
}


nav a:hover {
  transform: scale(1.10); /*slightly enlarges the link*/
}

#home {
  /* height: 100vh; */
  color: white;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url("images/pexels-webbshow-2406394.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}
.main-layout {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 100vw;
  height: 200vh;
}

#contentGroup {
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 4vh;
  margin: 20vh 0 0 0vw; /*top, right, bottom, left*/
  width: 60vw;
  flex: 1;
  width: auto;
  /* font-size: large; */
}

#game {
  width: fit-content;
  height: fit-content;
  /* width: 60%; */
  /* height: 60%; */
  display: block;
  text-align: left;
  box-sizing: border-box;
  margin-left: 5vw;
  padding: 20px;
  font-size: larger;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-bottom: solid 5px rgba(85, 107, 47, 0.537);
  /* background-color: rgba(239, 145, 23, 0.104); */
  border-radius: 20px;
  border-left: solid 3px rgba(85, 107, 47, 0.537);
}

.stare {
  margin-left: 7vw;
}

#game:hover {
  background-color: rgba(239, 145, 23, 0.104);
}

#Shakespeare {
  /* width: 70%; */
  width: fit-content;
  height: fit-content;
  text-align: center;
  box-sizing: border-box;
  margin-top: 10vh;
  margin-left: 20vw;
  padding: 30px;
  font-size: larger;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-bottom: solid 5px rgba(85, 107, 47, 0.537);
  border-radius: 20px;
  border-left: solid 3px rgba(85, 107, 47, 0.537);
  /* background-color: rgba(85, 107, 47, 0.216); */
}

#Shakespeare:hover {
  background-color: rgba(85, 107, 47, 0.216);
}

#finalText {
  width: fit-content;
  height: fit-content;
  box-sizing: border-box;
  margin-top: 5vh;
  margin-left: 70vw;
  padding: 5px;
  font-size: larger;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  border-bottom: solid 5px rgba(85, 107, 47, 0.537);
  border-radius: 10px;
  border-left: solid 3px rgba(85, 107, 47, 0.537);
  cursor: pointer;
}

#finalText:hover {
  background-color: rgba(0, 0, 0, 0.237);
}

#finalText a {
  color: white;
  text-decoration: none;
  padding-left: .5vw;
  font-size: larger;
  /* font-weight: bold; */
  display: inline-block;
  transition: transform 0.2s;
}

#finalText a:hover {
  /* background-color: rgba(85, 107, 47, 0.216);
    border-bottom: solid 5px rgba(85, 107, 47, 0.537);
    border-radius: 10px;
    padding: 5px; */
  transform: scale(1.05);
}

footer {
  margin: 0px;
  padding: 20px;
  bottom: 0px;
  position: fixed;
  background-color: rgba(85, 107, 47, 0.484);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
  width: 100%;
}

.footer-flex {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#copyright {
  text-align: left;
  margin-left: 10px;
}

#motto {
  text-align: right;
  margin-right: 5vw;
}

#blog {
  color: white;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-image: url("images/pexels-mali-1483064.jpg");
  position: relative;
}

#blog #title1 {
  /* color: rgba(12, 212, 222, 0.662); */
  /* color: rgba(94, 26, 26, 0.886); */
  background-color: #8b4513;
  color: #8b4513;
  background-clip: text;
  text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.6),
    -1px -1px 0px rgba(0, 0, 0, 0.6);
  margin-left: 450px;
  margin-top: 0px;
  transform-origin: top left;
  transform: rotate(5.5deg);

  position: absolute;
  top: 12vh;
  left: 25vw;
  margin: 0;
}

#blogContent {
  perspective-origin: right;
  perspective: 500px; /*this is what makes it have depth*/
  position: absolute;
  top: 20vh;
  left: 23vw;
  width: 24vw;
  margin: 0;
}

#blog h2 {
  transform-origin: top left;
  transform: rotate(3.5deg);
  position: absolute;
}

article {
  padding: 20px;
  font-size: larger;
  background-color: inherit;
  border: none;
  color: white;
  transform-origin: 50% 100%;
  transform: rotateY(10deg);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#blog button {
  cursor: pointer;
  position: absolute;
  padding: 20px;
  font-size: larger;
  background-color: inherit;
  border: none;
  color: white;
  transform-origin: 50% 100%;
  transform: rotateY(10deg);
  text-shadow: 2px 2px 5px rgb(0, 0, 0);
}

#blog nav {
  width: 150px;
  height: 155px;
  border: none;
}


@media (max-width: 880px) {
  .main-layout {
    display: flex;
    flex-direction: column;
    width: 90vw;
    height: 200vh;
    margin: 0 auto;
    align-items: center;
    justify-content: auto;
    padding: 0;
    gap: 0;
  }

  #contentGroup {
    margin: 20px;
  }

  #game,
  #Shakespeare,
  #finalText {
    margin: 0 auto;
  }

  #aside1 {
    display: contents;
  }

  #aside {
    display: none;
  }

  nav {
    position: static;
    margin: 17vh auto 5vh auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
    text-align: center;
    border: none;
  }

  .stare {
    margin-left: 15vw;
  }
  header, 
  footer {
    position: fixed;
    margin: 0;
    width: 100vw;
  }

}

