body {
    font-family: Arial, sans-serif;
    margin: 0px;
    padding: 0px;
}

header {
    margin: 0px;
    /* background-color: rgba(85, 107, 47, 0.537); */
    color: white;
    padding: 20px 20px 20px 20px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    position: fixed;
    width: 100%;
    top: 0px;
}

.header-flex {
    display: flex;
    flex-direction: column;
    align-items: left;
}

.header-flex h1 {
    margin-bottom: 20px;
}
.header-flex h2 {
    margin-top: 0;
    margin-bottom: 0px;
    margin-left: 8vw;
}

nav {
    margin: 20vh 1vw 0 0; /*top, right, bottom, left*/
    display: flex;
    flex-direction: column;
    text-align: right;
    border-bottom: solid 5px rgba(85, 107, 47, 0.537);
    width: fit-content;
    margin-left: auto;
}

nav a {
    color: white;
    text-decoration: none;
    padding: 10px;
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    display: inline-block;
    transition: transform 0.2s;    
}

nav a:hover {
    /* font-size: larger; */
    transform: scale(1.15); /*slightly enlarges the link*/
}

#home {
    height: 100vh;
    color: white;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("images/pexels-webbshow-2406394.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#contentGroup {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 4vh; /*between divs*/
    margin: 15vh 0 0 10vw; /*top, right, bottom, left*/
    width: 60vw;
}

#game {
    width: 75%;
    display: block; 
    text-align: left;
    box-sizing: border-box;
    margin-left: 15vw;
    padding: 10px 10px 10px 50px;
    padding-right: 10px;
    font-size: larger;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: solid 5px rgba(85, 107, 47, 0.537);
    /* background-color: rgba(239, 145, 23, 0.104); */
    border-radius: 10px;
    border-left: solid 3px rgba(85, 107, 47, 0.537);
}

#game:hover {
    background-color: rgba(239, 145, 23, 0.104);
}


#Shakespeare {
    width: 97%;
    text-align: center;
    box-sizing: border-box;
    margin-left: 10vw;
    padding: 5px;
    font-size: larger;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    border-bottom: solid 5px rgba(85, 107, 47, 0.537);
    border-radius: 10px;
    border-left: solid 3px rgba(85, 107, 47, 0.537);
    background-color: rgba(85, 107, 47, 0.216);
}

/* #Shakespeare:hover {
    background-color: rgba(85, 107, 47, 0.216);
} */


#finalText {
    width: 65%;
    box-sizing: border-box;
    margin-left: 35vw;
    padding: 5px;
    font-size: larger;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
}

#finalText a {
    color: white;
    text-decoration: none;
    font-size: 25px; 
    font-weight: bold;
    display: inline-block;
    transition: transform 0.2s;  
}

#finalText a:hover {
    /* background-color: rgba(85, 107, 47, 0.216);
    border-bottom: solid 5px rgba(85, 107, 47, 0.537);
    border-radius: 10px;
    padding: 5px; */
    transform: scale(1.15);
} 

footer {
    margin-left: 0px;
    padding: 10px;
    bottom: 0px;
    position: fixed;
    background-color: rgba(85, 107, 47, 0.537);
    text-shadow: 2px 2px 5px rgb(0, 0, 0);
    width: 100%;
}

.footer-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}


#copyright {
    text-align: left;
    margin-left: 10px;
    font-size: 17px;
}

#motto {
    text-align: right;
    margin-right: 2vw;
    font-size: 17px;
}



#blog {
    color: white;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-image: url("images/pexels-mali-1483064.jpg");
    position: relative;
}

#blog #title1 {
    /* color: rgba(12, 212, 222, 0.662); */
    /* color: rgba(94, 26, 26, 0.886); */
    background-color: #8B4513;
    color: #8B4513;
    background-clip: text;
    text-shadow:  1px 1px 1px rgba(255, 255, 255, 0.6), -1px -1px 0px rgba(0, 0, 0, 0.6);
    margin-left: 450px;
    margin-top: 0px;
    transform-origin: top left;
    transform: rotate(5.5deg);

    position: absolute;
    top: 12vh;
    left: 25vw;
    margin: 0;
}

#blogContent {
    perspective-origin: right;
    perspective: 500px; /*this is what makes it have depth*/
    position: absolute;
    top: 20vh;
    left: 23vw;
    width: 24vw;
    margin: 0;
}

#blog h2 {
    transform-origin: top left;
    transform: rotate(3.5deg);
    position: absolute;
}

article {
    padding: 20px;
    font-size: larger;
    background-color: inherit;
    border: none;
    color: white;
    transform-origin: 50% 100%;
    transform: rotateY(10deg);  
    text-shadow: 2px 2px 5px rgb(0, 0, 0);    

}

#blog button {
    cursor: pointer;
    position: absolute;
    padding: 20px;
    font-size: larger;
    background-color: inherit;
    border: none;
    color: white;
    transform-origin: 50% 100%;
    transform: rotateY(10deg);  
    text-shadow: 2px 2px 5px rgb(0, 0, 0);    
}

#blog nav {
width: 150px;
height: 155px;
border: none;
}

@media (max-width: 600px) {
    body,
    #game,
    #Shakespeare,
    #finalText,
    #finalText a,
    #copyright,
    #motto,
    nav,
    nav a,
    h1,
    h2 {
        font-size: 16px !important;
    }
}